services:
    phpdoc:
        container_name: google-translate-scraper-docs
        build: .
        command: >
            sh -c "phpdoc &&
                   php -S 0.0.0.0:8080 -t /data/docs"
        ports:
            - "8080:8080"
        volumes:
            - .:/data
    app:
        container_name: google-translate-scraper
        build: .
        command: >
            sh -c "git config --global --add safe.directory /data &&
                   composer install &&
                   ./vendor/bin/phpunit tests &&
                   ./vendor/bin/pint &&
                   ./vendor/bin/phpstan analyse --configuration=.phpstan.neon --memory-limit=512M &&
                   tail -f /dev/null"
        volumes:
            - .:/data
            - ./vendor:/data/vendor
