services:
    phpdoc:
        container_name: google-translate-scraper-docs
        build: .
        command: >
            sh -c "phpdoc &&
                   php -S 0.0.0.0:8080 -t /data/docs"
        ports:
            - "8080:8080"
        volumes:
            - .:/data
    app:
        container_name: google-translate-scraper
        build: .
        command: >
            sh -c "composer install &&
                   composer tests &&
                   composer pint &&
                   composer analyse &&
                   tail -f /dev/null"
        volumes:
            - .:/data
            - ./vendor:/data/vendor
