name: Deploy Docs to GitHub Pages

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: write
  id-token: write
  pages: write

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php: [8.2]

    name: PHP ${{ matrix.php }}

    steps:
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}

      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Generate API docs
        uses: phpDocumentor/phpDocumentor@master
        with:
          args: -d src -t build/docs

      - name: Upload Docs Artifact
        uses: actions/upload-artifact@v4
        with:
          name: github-pages
          path: build/docs

#  deploy:
#    environment:
#      name: github-pages
#    runs-on: ubuntu-latest
#    needs: build
#
#    steps:
#      - name: Deploy to GitHub Pages
#        id: deployment
#        uses: actions/deploy-pages@v4